<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css"/>
        <h:outputStylesheet library="css" name="cssLayout.css"/>
        <title><ui:insert name="windowTitle"/></title>
        <link rel="shortcut icon" href="" />
    </h:head>

    <h:body>
        <div id="top">
            <h:form>
                <p:menubar>
                    <p:menuitem value="Typowanie wyników" outcome="typy" rendered="#{not user.admin}" icon="ui-icon-check" />
                    <p:menuitem value="Wyniki spotkań" outcome="wyniki" icon="ui-icon-calculator" />
                    <p:menuitem value="Ranking użytkowników" outcome="ranking" rendered="#{not user.admin}" icon="ui-icon-person" />
                    <p:menuitem value="Typowanie mistrza" outcome="typMistrza" rendered="#{not user.admin}" icon="ui-icon-check" />
                    <p:menuitem value="Logi" outcome="logi" rendered="#{user.admin}" icon="ui-icon-gear" />
                    <p:menuitem value="Zmiana hasła" outcome="zmianaHasla" icon="ui-icon-key" />
                    <f:facet name="options">
                        <p:commandButton value="Wyloguj" icon="ui-icon-extlink" action="#{user.logout()}" ajax="false" />
                    </f:facet>
                </p:menubar>
            </h:form>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <h:outputText style="text-align: center; font-size: xx-small;" value="#{msgs.versionCaption}: #{msgs.versionNumber}" />
        </div>
    </h:body>
</html>
