<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <h:body>
        <ui:composition template="/templates/szablonLogin.xhtml">
            <ui:define name="windowTitle">
                #{msgs.loginFormTitle}
            </ui:define>

            <ui:define name="content">
                <h:form id="login" onsubmit="document.getElementById('login').action = 'j_security_check';" prependId="false">
                    <p:focus for="j_username" />
                    <p:panelGrid columns="2" style="margin: 100px auto;">
                        <f:facet name="header">
                            <h:outputText style="text-align: center" value="Logowanie" />
                        </f:facet>
                        <h:outputLabel for="j_username" value="#{msgs.loginFormUsername}:" />
                        <p:inputText id="j_username" name='j_username' />
                        <h:outputLabel for="j_password" value="#{msgs.loginFormPassword}:" />
                        <p:password id="j_password" name='j_password' />
                        <p:spacer />
                        <p:commandButton id="submit" value="#{msgs.loginFormLoginButton}" ajax="false" />
                        <f:facet name="footer">
                            <h:outputText style="text-align: center; font-size: xx-small;" value="#{msgs.versionCaption}: #{msgs.versionNumber}" />
                        </f:facet>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
