<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p2="http://primefaces.prime.com.tr/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <body>
    <ui:composition template="/templates/szablon.xhtml">
        <ui:define name="windowTitle">
            Logi
        </ui:define>

        <ui:define name="content">
            <f:event type="javax.faces.event.PreRenderComponentEvent" listener="#{logiView.init()}" />            
            <h:form id="logiForm" prependId="false">
                <p:dataTable 
                    id="logTable" 
                    lazy="true"
                    value="#{logiView.lazyModel}" 
                    var="d" 
                    editable="false" 
                    style="margin-bottom: 20px"
                    rows="20"
                    paginator="true"
                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    rowsPerPageTemplate="20, 50, 100">
                    <f:facet name="header">
                        Logi
                    </f:facet>

                    <p:column headerText="Data">
                        <h:outputText value="#{d.data}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Użytkownik">
                        <h:outputText value="#{not empty d.uzytkownik ? d.uzytkownik.nazwa : ''}" />
                    </p:column>
                    <p:column headerText="Funkcja">
                        <h:outputText value="#{d.funkcja}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</body>
</html>