<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <h:body>
        <ui:composition template="/templates/szablonLogin.xhtml">
            <ui:define name="windowTitle">
                #{msgs.noAuthFormTitle}
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:panelGrid columns="1" style="margin: 100px auto;">
                        <p:column>
                            <h:outputLabel value="#{msgs.noAuthFormHeader}" />
                        </p:column>
                        <p:column>
                            <p:button outcome="login" value="#{msgs.noAuthFormTryAgain}" />
                        </p:column>
                    </p:panelGrid>
                </h:form>
            </ui:define>    
        </ui:composition> 
    </h:body>
</html>
