<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <body>
        <ui:composition template="/templates/szablon.xhtml">
            <ui:define name="windowTitle">
                Ranking
            </ui:define>

            <ui:define name="content">
                <h:form id="form">
                    <p:growl id="msgs" showDetail="true"/>

                    <p:dataTable id="ranking" value="#{rankingView.ranking}" var="d" rowKey="#{d.idUzytkownika}" editable="false" style="margin-bottom:20px">
                        <f:facet name="header">
                            Ranking użytkowników
                        </f:facet>

                        <p:column headerText="ID" rendered="#{user.admin}">
                            <h:outputText value="#{d.idUzytkownika}" />
                        </p:column>
                        <p:column headerText="Pozycja" style="width: 70px; text-align: center">
                            <h:outputText value="#{d.pozycja}" style="font-weight: bold" />
                        </p:column>
                        <p:column headerText="Zmiana" style="width: 70px; text-align: center">
                            <h:outputText value="#{d.zmianaPozycji}" style="font-weight: bold; color: #{d.zmianaPozycji eq 0 ? 'black' : (d.zmianaPozycji lt 0 ? 'red' : 'green')}" />
                        </p:column>
                        <p:column headerText="Użytkownik">
                            <h:outputText value="#{d.nazwaUzytkownika}" />
                        </p:column>
                        <p:column headerText="Suma punktów" style="width: 110px; text-align: center">
                            <h:outputText value="#{d.punktySuma}" />
                        </p:column>
                        <p:column headerText="Strata do poprzedniego" style="width: 110px; text-align: center">
                            <h:outputText value="#{d.punktyStrataDoPoprzedniego}" />
                        </p:column>
                        <p:column headerText="Strata do pierwszego" style="width: 110px; text-align: center">
                            <h:outputText value="#{d.punktyStrataDoPierwszego}" />
                        </p:column>
                        <p:column headerText="Trafienia za 3" style="width: 110px; text-align: center">
                            <h:outputText value="#{d.punktyIlosc3}" />
                        </p:column>
                        <p:column headerText="Trafienia za 1" style="width: 110px; text-align: center">
                            <h:outputText value="#{d.punktyIlosc1}" />
                        </p:column>
                        <p:column headerText="Punkty za mistrza" style="width: 110px; text-align: center">
                            <h:outputText value="#{d.punktyMistrz}" />
                        </p:column>
                        <p:column headerText="#" style="width: 60px; text-align: center">
                            <h:link outcome="rankingHistoryczny">
                                <f:param name="idUzytkownika" value="#{d.idUzytkownika}" />
                                <h:outputText value="Zmiany" />
                            </h:link>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>