<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p2="http://primefaces.prime.com.tr/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <body>
    <ui:composition template="/templates/szablon.xhtml">
        <ui:define name="windowTitle">
            Zmiany w rankingu
        </ui:define>

        <ui:define name="content">
            <h:form id="form">
                <p:growl id="msgs" showDetail="true"/>

                <p:dataTable id="ranking" value="#{rankingHistorycznyView.rankingHistoryczny}" var="d" editable="false" style="margin-bottom:20px">
                    <f:facet name="header">
                        Zmiany w rankingu użytkownika #{rankingHistorycznyView.uzytkownik.nazwa}
                    </f:facet>

                    <p:column headerText="Data">
                        <h:outputText value="#{d.osXOpis}" />
                    </p:column>
                    <p:column headerText="Pozycja">
                        <h:outputText value="#{d.pozycja}" />
                    </p:column>
                    <p:column headerText="Suma punktów">
                        <h:outputText value="#{d.punktySuma}" />
                    </p:column>
                </p:dataTable>
                <p><h:link outcome="ranking" value="Powrót do rankingu" /></p>
            </h:form>
        </ui:define>
    </ui:composition>
</body>
</html>