<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <body>
        <ui:composition template="/templates/szablon.xhtml">
            <ui:define name="windowTitle">
                Szczegóły spotkania
            </ui:define>

            <ui:define name="content">
                <h:form id="form">
                    <p:dataTable id="szczegoly" value="#{szczegolySpotkaniaView.szczegoly}" var="d" editable="false" style="margin-bottom:20px">
                        <f:facet name="header">
                            <table cellpadding="2">
                                <tr>
                                    <td align="right">#{szczegolySpotkaniaView.spotkanie.druzyna1.nazwa}</td>
                                    <td align="left">#{szczegolySpotkaniaView.spotkanie.druzyna2.nazwa}</td>
                                </tr>
                                <tr>
                                    <td align="right">#{szczegolySpotkaniaView.spotkanie.wynik1}</td>
                                    <td align="left">#{szczegolySpotkaniaView.spotkanie.wynik2}</td>
                                </tr>
                            </table>
                        </f:facet>

                        <p:column headerText="Użytkownik">
                            <h:outputText value="#{d.nazwaUzytkownika}" />
                        </p:column>
                        <p:column headerText="Typ" style="width: 110px; text-align: center;" rendered="#{not user.admin}">
                            <h:outputText value="#{d.typDruzyny1} : #{d.typDruzyny2}" />
                        </p:column>
                        <p:column headerText="Punkty" style="width: 70px; text-align: center;" rendered="#{not user.admin}">
                            <h:outputText value="#{d.punkty}" />
                        </p:column>
                    </p:dataTable>
                    <h:link outcome="wyniki" value="Powrót do wyników" />
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>