<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <body>
        <ui:composition template="/templates/szablon.xhtml">
            <ui:define name="windowTitle">
                Typowanie mistrza
            </ui:define>

            <ui:define name="content">
                <h:form id="form">
                    <ui:remove>
                        <p:panel>
                            Mistrz:
                            <p:selectOneMenu id="druzyny" value="#{typMistrzaView.idDruzynyMistrz}">
                                <c:forEach items="#{typMistrzaView.druzyny}" var="d" varStatus="loop">
                                    <f:selectItem itemValue="#{d.idDruzyny}" itemLabel="#{d.nazwa}" />
                                </c:forEach>
                            </p:selectOneMenu>
                            <p:commandButton id="submitButton" actionListener="#{typMistrzaView.zmienTyp}" value="Zmień" ajax="false"/>
                        </p:panel>
                        <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true" />
                        <br />
                    </ui:remove>
                    <p:dataTable id="ranking" value="#{typMistrzaView.typy}" var="d" editable="false" style="margin-bottom:20px">
                        <f:facet name="header">
                            Typy użytkowników
                        </f:facet>

                        <p:column headerText="Użytkownik">
                            <h:outputText value="#{d.nazwaUzytkownika}" />
                        </p:column>
                        <p:column headerText="Typ na mistrza">
                            <h:graphicImage library="imgs" name="flags/#{d.flagaDruzyny}" rendered="#{not empty d.flagaDruzyny}" style="vertical-align: middle;" /><h:outputText value="&#160;" /><h:outputText value="#{d.nazwaDruzyny}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>