<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/szablon.xhtml">
            <ui:define name="windowTitle">
                Typowanie wyników
            </ui:define>
            <ui:define name="content">
                <h:form id="form">
                    <p:growl id="msgs" showDetail="true"/>

                    <p:dataTable id="typy" value="#{typyView.typy}" var="d" rowKey="#{d.idSpotkania}" editable="true" style="margin-bottom:20px">
                        <f:facet name="header">
                            Typowanie wyników
                        </f:facet>

                        <p:ajax event="rowEdit" update=":form:msgs @this" listener="#{typyView.onRowUpdate}" />
                        <p:ajax event="rowEditCancel" update=":form:msgs @this" listener="#{typyView.onRowCancel}" />

                        <p:column headerText="Nr spotkania">
                            <h:outputText value="#{d.numerSpotkania}" />
                        </p:column>
                        <p:column headerText="Grupa / Faza">
                            <h:outputText value="#{d.nazwaFazy}" />
                        </p:column>
                        <p:column headerText="Data spotkania">
                            <h:outputText value="#{d.dataSpotkania}">
                                <f:convertDateTime pattern="dd.MM HH:mm" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Drużyna 1">
                            <h:graphicImage library="imgs" name="flags/#{d.flagaDruzyny1}" rendered="#{not empty d.flagaDruzyny1}" style="vertical-align: middle;" /><h:outputText value="&#160;" /><h:outputText value="#{d.nazwaDruzyny1}" />
                        </p:column>
                        <p:column headerText="Drużyna 2">
                            <h:graphicImage library="imgs" name="flags/#{d.flagaDruzyny2}" rendered="#{not empty d.flagaDruzyny2}" style="vertical-align: middle;" /><h:outputText value="&#160;" /><h:outputText value="#{d.nazwaDruzyny2}" />
                        </p:column>
                        <p:column headerText="Data typowania">
                            <h:outputText value="#{d.dataTypowania}">
                                <f:convertDateTime pattern="dd.MM HH:mm" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Typ" style="width: 110px; text-align: center;">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{d.typDruzyny1} : #{d.typDruzyny2}" />
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{d.typDruzyny1}" size="3" />
                                    <h:inputText value="#{d.typDruzyny2}" size="3" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Edycja" style="width: 60px">
                            <p:rowEditor rendered="#{d.moznaEdytowac}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>