<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/szablon.xhtml">
            <ui:define name="windowTitle">
                Wyniki spotkań
            </ui:define>
            <ui:define name="content">
                <h:form id="form">
                    <p:growl id="msgs" showDetail="false"/>

                    <p:dataTable id="wyniki"
                                 value="#{wynikiView.wyniki}"
                                 var="d"
                                 rowKey="#{d.idSpotkania}"
                                 editable="true"
                                 style="margin-bottom:20px"
                                 rows="20"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="20,50,100">
                        <f:facet name="header">
                            Wyniki spotkań
                        </f:facet>

                        <p:ajax event="rowEdit" update=":form:msgs @this" listener="#{wynikiView.onRowUpdate}" />
                        <p:ajax event="rowEditCancel" update=":form:msgs @this" listener="#{wynikiView.onRowCancel}" />

                        <p:column headerText="ID" rendered="#{user.admin}">
                            <h:outputText value="#{d.idSpotkania}" />
                        </p:column>
                        <p:column headerText="Nr spotkania">
                            <h:outputText value="#{d.numerSpotkania}" />
                        </p:column>
                        <p:column headerText="Grupa / Faza">
                            <h:outputText value="#{d.nazwaFazy}" />
                        </p:column>
                        <p:column headerText="Data spotkania">
                            <h:outputText value="#{d.dataSpotkania}">
                                <f:convertDateTime pattern="dd.MM HH:mm" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Drużyna 1">
                            <h:graphicImage library="imgs" name="flags/#{d.flagaDruzyny1}" rendered="#{not empty d.flagaDruzyny1}" style="vertical-align: middle;" /><h:outputText value="&#160;" /><h:outputText value="#{d.nazwaDruzyny1}" />
                        </p:column>
                        <p:column headerText="Drużyna 2">
                            <h:graphicImage library="imgs" name="flags/#{d.flagaDruzyny2}" rendered="#{not empty d.flagaDruzyny2}" style="vertical-align: middle;" /><h:outputText value="&#160;" /><h:outputText value="#{d.nazwaDruzyny2}" />
                        </p:column>
                        <p:column headerText="Wynik" style="width: 110px; text-align: center;">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{d.wynikDruzyny1} : #{d.wynikDruzyny2}" />
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{d.wynikDruzyny1}" size="3" />
                                    <h:inputText value="#{d.wynikDruzyny2}" size="3" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Typ" style="width: 110px; text-align: center;" rendered="#{not user.admin}">
                            <h:outputText value="#{d.typDruzyny1} : #{d.typDruzyny2}" />
                        </p:column>
                        <p:column headerText="Punkty" style="width: 70px; text-align: center;" rendered="#{not user.admin}">
                            <h:outputText value="#{d.punkty}" />
                        </p:column>
                        <p:column headerText="#" rendered="#{not d.moznaEdytowac and not user.admin}" style="width: 110px; text-align: center;">
                            <h:link outcome="szczegolySpotkania">
                                <f:param name="idSpotkania" value="#{d.idSpotkania}" />
                                <h:outputText value="Szczegóły" />
                            </h:link>
                        </p:column>
                        <p:column headerText="Edycja" style="width: 60px" rendered="#{user.admin}">
                            <p:rowEditor />
                        </p:column>
                    </p:dataTable>
                    <p:commandButton id="submitButton" actionListener="#{wynikiView.przeliczPunkty}" value="Przelicz punkty" rendered="#{user.admin}" ajax="false"/>
                    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="true" />
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>