<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head><title>IGNORED</title></head>
    <body>
        <ui:composition template="/templates/szablon.xhtml">
            <ui:define name="windowTitle">
                Zmiana hasła
            </ui:define>

            <ui:define name="content">
                <h:form id="form">
                    <table>
                        <tr>
                            <td>Bieżące hasło:</td>
                            <td><p:password  value="#{zmianaHaslaView.stareHaslo}" /></td>
                        </tr>
                        <tr>
                            <td>Nowe hasło:</td>
                            <td><p:password value="#{zmianaHaslaView.noweHaslo}" /></td>
                        </tr>
                        <tr>
                            <td>Potwierdź nowe hasło:</td>
                            <td><p:password value="#{zmianaHaslaView.noweHaslo2}" /></td>
                        </tr>
                    </table>
                    <p:commandButton id="submitButton" actionListener="#{zmianaHaslaView.zmienHaslo}" value="Zmień" ajax="false"/>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>